In [1]:
import pandas as pd
from river import metrics,neighbors,tree,evaluate,stream,forest
import pickle

In [2]:
DATASET_PATH = "C:\\Users\\franc\\Desktop\\TESI\\webots\\training_data\\data_1_lap.csv"

### Load dataset

In [3]:
column_names = [f'ir_{x}' for x in range(0,7)]
column_names.append('target')
df = pd.read_csv(DATASET_PATH) 
df.columns = column_names
df

,ir_0,ir_1,ir_2,ir_3,ir_4,ir_5,ir_6,target
0,9.280025,9.280024,9.280024,9.280024,9.280024,9.280024,9.280024,0.0
1,24.828303,24.830723,24.833142,24.835562,24.837981,24.840401,24.842820,0.0
2,6.023478,6.025406,6.027334,6.029262,6.031190,6.033119,6.035047,0.0
3,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,0.0
4,0.439358,0.439638,0.439917,0.440196,0.440476,0.440755,0.441034,0.0
...,...,...,...,...,...,...,...,...
20406,12.055087,12.055086,12.055086,12.055085,12.055085,12.055084,12.055084,0.0
20407,12.276567,12.276567,12.276567,12.276566,12.276566,12.276565,12.276565,0.0
20408,12.439600,12.439600,12.439599,12.439599,12.439598,12.439598,12.439597,0.0
20409,12.541450,12.541449,12.541449,12.541448,12.541448,12.541447,12.541447,0.0
20410,12.580395,12.580395,12.580394,12.580394,12.580393,12.580393,12.580392,0.0

### Train Models

In [4]:
column_names = [f'ir_{x}' for x in range(0,7)]
metric_knn = metrics.Accuracy()
#metric_hat = metrics.Accuracy()
#metric_arf = metrics.Accuracy()
streams = stream.iter_pandas(X=df[column_names], y=df['target'])

In [5]:
#model_arf = forest.ARFClassifier()
model_knn = neighbors.KNNClassifier()
#model_hat = tree.HoeffdingAdaptiveTreeClassifier(seed=42)

### Train and evaluate the model

In [7]:
evaluate.progressive_val_score(dataset=streams, 
                      model=model_arf, 
                      metric=metric_arf, 
                      print_every=1000)

[1,000] Accuracy: 87.29%
[2,000] Accuracy: 92.20%
[3,000] Accuracy: 94.00%
[4,000] Accuracy: 94.65%
[5,000] Accuracy: 95.42%
[6,000] Accuracy: 96.05%
[7,000] Accuracy: 96.33%
[8,000] Accuracy: 96.71%
[9,000] Accuracy: 96.96%
[10,000] Accuracy: 97.19%
[11,000] Accuracy: 97.39%
[12,000] Accuracy: 97.56%
[13,000] Accuracy: 97.69%
[14,000] Accuracy: 97.84%
[15,000] Accuracy: 97.88%
[16,000] Accuracy: 97.98%
[17,000] Accuracy: 98.05%
[18,000] Accuracy: 98.14%
[19,000] Accuracy: 98.19%
[20,000] Accuracy: 98.24%
[20,411] Accuracy: 98.26%

Accuracy: 98.26%

In [6]:
evaluate.progressive_val_score(dataset=streams, 
                      model=model_knn, 
                      metric=metric_knn, 
                      print_every=1000)

[1,000] Accuracy: 97.30%
[2,000] Accuracy: 97.85%
[3,000] Accuracy: 98.10%
[4,000] Accuracy: 98.20%
[5,000] Accuracy: 98.04%
[6,000] Accuracy: 98.18%
[7,000] Accuracy: 98.00%
[8,000] Accuracy: 97.67%
[9,000] Accuracy: 97.48%
[10,000] Accuracy: 97.28%
[11,000] Accuracy: 97.25%
[12,000] Accuracy: 97.06%
[13,000] Accuracy: 97.07%
[14,000] Accuracy: 97.18%
[15,000] Accuracy: 97.15%
[16,000] Accuracy: 97.17%
[17,000] Accuracy: 97.09%
[18,000] Accuracy: 97.09%
[19,000] Accuracy: 97.13%
[20,000] Accuracy: 97.17%
[20,411] Accuracy: 97.17%

Accuracy: 97.17%

In [32]:
"""
evaluate.progressive_val_score(dataset=streams, 
                      model=model_hat, 
                      metric=metric_hat, 
                      print_every=1000)
                      """

'\nevaluate.progressive_val_score(dataset=streams, \n                      model=model_hat, \n                      metric=metric_hat, \n                      print_every=1000)\n                      '

## Save model

In [7]:
with open('C:\\Users\\franc\\Desktop\\TESI\\webots\\models\\model_knn.pkl', 'wb') as f:
        pickle.dump(model_knn, f)