In [2]:
import os,shutil
import pandas as pd
import re

## Remove noise

In [4]:
labels = pd.read_csv('C:\\Users\\franc\\Desktop\\TESI\\SML_thesis_line_follower_robot\\webots\\data\\data\\sensors_data\\sensor_data 2024-08-20_19-18-23.csv',names=[str(i) for i in range(8)])['7']

sensors_data = pd.read_csv('C:\\Users\\franc\\Desktop\\TESI\\SML_thesis_line_follower_robot\\webots\\data\\data\\sensors_data\\sensor_data 2024-08-20_19-18-23.csv',names=[str(i) for i in range(8)]).drop('7',axis=1)

In [6]:
row_means = sensors_data.mean(axis=1)
indices_with_zero_mean = sensors_data.index[row_means == 1000]
indices_with_zero_mean_list = indices_with_zero_mean.tolist()


labels = labels.drop(indices_with_zero_mean_list)
sensors_data = sensors_data.drop(indices_with_zero_mean_list)

In [7]:
image_folder = 'C:\\Users\\franc\\Desktop\\TESI\\SML_thesis_line_follower_robot\\webots\\data\\images\\'

image_files = [f for f in os.listdir(image_folder) if os.path.isfile(os.path.join(image_folder, f))]

for image_file in image_files:
    if int(re.findall(r"\d+", image_file)[0]) in indices_with_zero_mean_list:
        os.remove(os.path.join(image_folder, image_file))

In [8]:
labels.value_counts()

7
0.0    15997
1.0     2183
2.0     2139
Name: count, dtype: int64

In [10]:
import random
num_zeros_to_remove = int(labels.value_counts()[0]*0.85)
zero_indices = labels[labels == 0].index.tolist()
indices_to_remove = random.sample(zero_indices, num_zeros_to_remove)

In [11]:
sensors_data = sensors_data.drop(indices_to_remove)

In [12]:
labels = labels.drop(indices_to_remove)

In [13]:
labels

0        1.0
1        1.0
2        1.0
3        0.0
6        0.0
        ...
24160    1.0
24163    1.0
24164    1.0
24166    0.0
24167    1.0
Name: 7, Length: 6722, dtype: float64

In [14]:
sensors_data

,0,1,2,3,4,5,6
0,8.201136,8.207115,8.213095,8.219074,8.225053,8.231033,2.647394
1,8.212106,8.216920,8.221734,8.226547,8.231361,8.236174,2.648190
2,8.221447,8.225344,8.229241,8.233138,8.237035,8.240931,2.648958
3,2.645044,8.228435,8.231617,8.234798,8.237979,8.241160,2.648862
6,3.246119,11.226659,11.207751,11.188843,11.169935,11.151027,3.223459
...,...,...,...,...,...,...,...
24160,12.277179,12.019480,11.761780,11.504081,3.244901,3.193462,3.142022
24163,19.268803,19.006877,18.744951,18.483025,4.582776,4.531274,4.479773
24164,7.655366,7.379881,7.104396,6.828911,2.310088,2.255016,2.199944
24166,0.215596,0.977685,0.912833,0.847981,0.783129,0.718278,0.653426
24167,14.717522,14.448649,14.179776,13.910903,3.713258,3.659782,3.606306

In [15]:
sensors_data.reset_index(inplace=True)
sensors_data

,index,0,1,2,3,4,5,6
0,0,8.201136,8.207115,8.213095,8.219074,8.225053,8.231033,2.647394
1,1,8.212106,8.216920,8.221734,8.226547,8.231361,8.236174,2.648190
2,2,8.221447,8.225344,8.229241,8.233138,8.237035,8.240931,2.648958
3,3,2.645044,8.228435,8.231617,8.234798,8.237979,8.241160,2.648862
4,6,3.246119,11.226659,11.207751,11.188843,11.169935,11.151027,3.223459
...,...,...,...,...,...,...,...,...
6717,24160,12.277179,12.019480,11.761780,11.504081,3.244901,3.193462,3.142022
6718,24163,19.268803,19.006877,18.744951,18.483025,4.582776,4.531274,4.479773
6719,24164,7.655366,7.379881,7.104396,6.828911,2.310088,2.255016,2.199944
6720,24166,0.215596,0.977685,0.912833,0.847981,0.783129,0.718278,0.653426
6721,24167,14.717522,14.448649,14.179776,13.910903,3.713258,3.659782,3.606306

In [16]:
labels = pd.DataFrame(labels)
labels.reset_index(inplace=True)
labels

      index    7
0         0  1.0
1         1  1.0
2         2  1.0
3         3  0.0
4         6  0.0
...     ...  ...
6717  24160  1.0
6718  24163  1.0
6719  24164  1.0
6720  24166  0.0
6721  24167  1.0

[6722 rows x 2 columns]

# join and save sensors and labels

In [17]:
df = sensors_data.merge(labels,on='index')
df

,index,0,1,2,3,4,5,6,7
0,0,8.201136,8.207115,8.213095,8.219074,8.225053,8.231033,2.647394,1.0
1,1,8.212106,8.216920,8.221734,8.226547,8.231361,8.236174,2.648190,1.0
2,2,8.221447,8.225344,8.229241,8.233138,8.237035,8.240931,2.648958,1.0
3,3,2.645044,8.228435,8.231617,8.234798,8.237979,8.241160,2.648862,0.0
4,6,3.246119,11.226659,11.207751,11.188843,11.169935,11.151027,3.223459,0.0
...,...,...,...,...,...,...,...,...,...
6717,24160,12.277179,12.019480,11.761780,11.504081,3.244901,3.193462,3.142022,1.0
6718,24163,19.268803,19.006877,18.744951,18.483025,4.582776,4.531274,4.479773,1.0
6719,24164,7.655366,7.379881,7.104396,6.828911,2.310088,2.255016,2.199944,1.0
6720,24166,0.215596,0.977685,0.912833,0.847981,0.783129,0.718278,0.653426,0.0
6721,24167,14.717522,14.448649,14.179776,13.910903,3.713258,3.659782,3.606306,1.0

In [18]:
df.value_counts('7')

7
0.0    2400
1.0    2183
2.0    2139
Name: count, dtype: int64

In [19]:
df.to_csv('C:\\Users\\franc\\Desktop\\TESI\\SML_thesis_line_follower_robot\\webots\\data\\data\\sensors_data\\training_data.csv')

In [20]:
image_folder = 'C:\\Users\\franc\\Desktop\\TESI\\SML_thesis_line_follower_robot\\webots\\data\\images\\'

image_files = [f for f in os.listdir(image_folder) if os.path.isfile(os.path.join(image_folder, f))]

for image_file in image_files:
    if int(re.findall(r"\d+", image_file)[0]) in indices_to_remove:
        os.remove(os.path.join(image_folder, image_file))

In [21]:
os.chdir('C:\\Users\\franc\\Desktop\\TESI\\SML_thesis_line_follower_robot\\webots\\data\\images\\')
os.getcwd()

'C:\\Users\\franc\\Desktop\\TESI\\SML_thesis_line_follower_robot\\webots\\data\\images'

In [22]:
os.makedirs('C:\\Users\\franc\\Desktop\\TESI\\SML_thesis_line_follower_robot\\webots\\data\\images\\label0')
os.makedirs('C:\\Users\\franc\\Desktop\\TESI\\SML_thesis_line_follower_robot\\webots\\data\\images\\label1')
os.makedirs('C:\\Users\\franc\\Desktop\\TESI\\SML_thesis_line_follower_robot\\webots\\data\\images\\label2')

In [26]:
for files in os.listdir():
    if os.path.isfile(files):
        index = int(df.loc[df['index'] == int(re.findall(r"\d+", files)[0]), '7'].values[0])
        shutil.move(files, f'C:\\Users\\franc\\Desktop\\TESI\\SML_thesis_line_follower_robot\\webots\\data\\images\\label{index}')